Source: meetrix-kurento-hello-world
Maintainer: Maintainer Name
Priority: optional
Build-Depends: debhelper (>= 9),
 cmake,
 pkg-config,
 libopencv-dev,
 kms-core-dev,
 kms-elements-dev,
 kms-filters-dev,
Standards-Version: 4.0.0

Package: meetrix-kurento-hello-world
Architecture: any
Section: video
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: Single line synopsis
 Extended description over several lines

Package: meetrix-kurento-hello-world-dev
Architecture: any
Section: devel
Depends: meetrix-kurento-hello-world (= ${binary:Version}),
 libopencv-dev,
 kms-core-dev,
 kms-elements-dev,
 kms-filters-dev
Description: Single line synopsis
 Extended description over several lines - Development files
